<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title>Resultados de búsqueda por apellido</title>
    </head>
    <body>
        <h1>Resultados de búsqueda por apellido</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>País</th>
            </tr>
            <tr th:each="persona : ${listaPersonas}">
                <td th:text="${persona.id}"></td>
                <td th:text="${persona.nombre}"></td>
                <td th:text="${persona.apellido}"></td>
                <td th:text="${persona.telefono}"></td>
                <td th:text="${persona.email}"></td>
                <td th:text="${persona.pais.pais}"></td>
            </tr>
        </table>
    </body>
</html>


